{% extends 'SimpleCatalogBundle:Layouts:base.html.twig' %}
{% form_theme form 'SimpleCatalogBundle:Form:fields.html.twig' %}

{% block title %} Nueva Imágen {% endblock %}

{% block content %}
<h2>{{ block('title') }}</h2>

<form action="{{ path('pic_create', { 'id_baseentity': baseentity.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    {{ form_widget(form) }}
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Crear">
            <a href="{{ path('pic_gallery', { 'id_baseentity': baseentity.id }) }}" class="btn small">Volver al Listado</a>
        </div>
    </form>
{% endblock %}