{% extends 'SimpleCatalogBundle:Layouts:base.html.twig' %}
{% form_theme form 'SimpleCatalogBundle:Form:fields.html.twig' %}

{% block title %} Nueva Imágen {% endblock %}

{% block content %}
<h2>{{ block('title') }}</h2>

<form class="form-horizontal sc_form" action="{{ path('pic_create', { 'id_baseentity': baseentity.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    {{ form_widget(form) }}
        </fieldset>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Crear">
            <a href="{{ path('pic_gallery', { 'id_baseentity': baseentity.id }) }}" class="btn"><i class="icon-repeat"></i> Volver al Listado</a>
        </div>
    </form>
{% endblock %}