{% extends 'SimpleCatalogBundle:Layouts:baseext.html.twig' %}
{% form_theme form 'SimpleCatalogBundle:Form:fields.html.twig' %}

{% block title %} Nueva Imágen {% endblock %}

{% block content %}
<div class="form-actionss well">
    <h2>{{ block('title') }}</h2>
    <div class="scright">
        <a href="{{ path('pic_gallery', { 'id_baseentity': baseentity.id }) }}" class="btn"><i class="icon-repeat"></i> Ir al Listado</a>
    </div>
    <div style="clear: both"></div>
</div>

{% include 'SimpleCatalogBundle:Layouts:flashes_messages.html.twig'%}

<form class="form-horizontal sc_form" action="{{ path('pic_create', { 'id_baseentity': baseentity.id }) }}" method="post" {{ form_enctype(form) }}>
    <fieldset>
    {{ form_widget(form) }}
        </fieldset>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Crear">
            <a href="{{ path('pic_gallery', { 'id_baseentity': baseentity.id }) }}" class="btn"><i class="icon-repeat"></i> Volver al Listado</a>
        </div>
    </form>
{% endblock %}


{% block sidebar %}
    <div class="sc_actions">
        <a href="{{ path('pic_gallery', { 'id_baseentity': baseentity.id }) }}" class="btn"><i class="icon-repeat"></i> Volver al Listado</a>
        <a href="{{ path('baseentity_edit', { 'id': baseentity.id } ) }}" class="btn btn-small btn-info"><i class="icon-pencil icon-white"></i> Editar Item</a>
    </div>
{% endblock %}