{% set paginator_render = pagerfanta(pagination, 'twitter_bootstrap_translated', {'proximity': 2}) %}

{% extends 'SimpleCatalogBundle:Layouts:base.html.twig' %}
{% block title %} Lista de Items {% endblock %}

{% block content %}

<div class="backendItemsListing">
<div class="form-actionss well">
    <h2>{{ block('title') }}</h2>
    <div class="scright">
         <a href="{{ path('baseentity_new') }}" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Nuevo</a>
    </div>
    <div style="clear: both"></div>
</div>
{% include 'SimpleCatalogBundle:Layouts:flashes_messages.html.twig'%}
{{ paginator_render | raw }}

<table class="table table-striped ">
    <thead>
        <tr>
            <th>Imágen</th>
            <th>Título / Categoría</th>
            <th>Precio</th>
            <th>Destacado</th>
            <th>Ult Modif.</th>
            <th class="sc_actions_table">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr>
              
                <td>
                    <a href="{{ path('baseentity_edit', { 'id': entity.id }) }}" title="Ver / Editar">
                        <img src="{{ (entity.get_default_pic.getPath) | apply_filter('my_thumb') }}" alt="{{ entity.get_default_pic.title }}" />
                    </a>
                </td>
                <td>{% if not entity.enabled %}<a href="#" rel="tooltip" data-original-title="Item Deshabilitado"><span class="label label-warning">!</span></a> {% endif%} <strong> {{ entity.title | truncate(30) }} </strong>- <i>{{ entity.category }}</i></td>
                <td>{{ entity.getFormattedPrice }}</td>
                <td>{{ entity.get_important_string_detail }}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('d-m-Y H:i:s') }}{% endif%}</td>
                <td>
                    
                    <div class="btn-group ">
                       
                        <a href="{{ path('baseentity_edit', { 'id': entity.id }) }}" class="btn btn-mini">Editar</a>
                        <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu"> 
                            <a href="{{ path('pic_gallery', { 'id_baseentity': entity.id }) }}" class="showPopup">Imagenes</a>
                            <a href="{{ path('product_profile', {'category_slug': entity.category.slug ,'slug': entity.slug, 'backend': true }) }}" target="_blank">Visualizar</a>
                        </ul>
                    </div>
                   
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>

{{ paginator_render | raw }}
        
</div>
{% endblock %}