{% extends 'SimpleCatalogBundle:Layouts:base.html.twig' %}
{% block title %} Lista de Items {% endblock %}

{% block content %}
<h2>{{ block('title') }}</h2>
{% include 'SimpleCatalogBundle:Layouts:flashes_messages.html.twig'%}

<table class="table table-striped ">
    <thead>
        <tr>
            <th class="sc_index_table">#</th>
            <th>Imágen</th>
            <th>Título / Categoría</th>
            <th>Precio</th>
            <th>Destacado</th>
            <th>Ult Modif.</th>
            <th class="sc_actions_table">Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    {% if entity.get_default_pic %}
                        <img src="{{ ('catalog/images/' ~ entity.get_default_pic) | apply_filter('my_thumb') }}" alt="" />
                    {% else %}
                        <img src="{{ 'bundles/simplecatalog/img/default.gif' | apply_filter('my_thumb') }}" alt="" />
                    {% endif %}                
                </td>
                <td>{% if not entity.enabled %}<a href="#" rel="tooltip" data-original-title="first tooltip"><span class="label label-warning">!</span></a> {% endif%} <strong> {{ entity.title | truncate(30) }} </strong>- <i>{{ entity.category }}</i></td>
                <td>{{ entity.getFormattedPrice }}</td>
                <td>{{ entity.get_important_string_detail }}</td>
                <td>{% if entity.updatedat %}{{ entity.updatedat|date('d-m-Y H:i:s') }}{% endif%}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('baseentity_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                        <li>
                            <a href="{{ path('pic_gallery', { 'id_baseentity': entity.id }) }}">Imagenes</a>
                        </li>
                    </ul>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
              $('.tooltip-demo.well').tooltip({
      selector: "a[rel=tooltip]"
    })
        </script>
{% endblock %}

{% block sidebar %}
        <div class="sc_actions">
            <a href="{{ path('baseentity_new') }}" class="btn btn-small btn-primary"><i class="icon-plus icon-white"></i> Nuevo Item</a>
        </div>
{% endblock %}
