<legend>Coordenadas Geográficas  
    <div class="scright">
        <a class="btn btn-mini showPopup" href="{{ path('scgeoext_edit', { 'id': entity.id }) }}" title="Editar coordenadas">Editar</a>
    </div>
</legend>
{% if entity %}
    {% if not entity.enabled %}
    <div class="alert alert-warning">
        Coordenadas Desactivadas. Edite para Activarlas.
    </div>
    {% endif %}
<a href="{{ path('scgeoext_edit', { 'id': entity.id }) }}" title="Editar coordenadas" class="showPopup">
        <img src="http://maps.google.com/maps/api/staticmap?center={{ entity.lat}},{{ entity.lng}}&zoom=15&size=480x200&sensor=false&markers=size:big|color:blue|label:G|{{ entity.lat}},{{ entity.lng}}" alt="" />
    </a>
{% else %}
    <div class="alert alert-info">
        Aún no se han cargado coordenadas o estan desactivadas.
    </div>
{% endif %}