{% extends 'SimpleCatalogBundle:Layouts:base.html.twig' %}
{% form_theme form 'SimpleCatalogBundle:Form:fields.html.twig' %}

{% block title %} Nueva Categoría {% endblock %}

{% block content %}
<div class="form-actionss well">
    <h2>{{ block('title') }}</h2>
    <div class="scright">
         <a href="{{ path('category') }}" class="btn btn-small"><i class="icon-repeat"></i> Volver al Listado</a>
    </div>
    <div style="clear: both"></div>
</div>


{% include 'SimpleCatalogBundle:Layouts:flashes_messages.html.twig'%}

<form class="form-horizontal sc_form" action="{{ path('category_create') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            {{ form_widget(form) }}
        </fieldset>

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Crear">
            <a href="{{ path('category') }}" class="btn btn-small"><i class="icon-repeat"></i> Volver al Listado</a>
        </div>
    </form>
{% endblock %}