{% set display_link = true %}

<ul class="breadcrumb">
    <li>
        <a href="{{ path('products_homepage')}}">Todos</a> 
        <span class="divider">/</span>
    </li>
    
    {% for item in parent_items %}
        <li>
            <a href="{{ path('products_listing', {'slug': item.slug }) }}">{{ item.title }}</a> 
            <span class="divider">/</span>
        </li>
    {% endfor %}

    <li class="active">
        {% if display_link %}
            <a href="{{ path('products_listing', {'slug': current_category.slug }) }}">{{ current_category.title }}</a>
        {% else %}
            {{ current_category.title }}
        {% endif %}
    </li>

    <li class="rss-add">
    <a href="{{ path('products_listing', {'slug': current_category.slug, '_format': 'xml' }) }}">
        <img src="{{asset('_images/add_rss.png')}}" alt="RSS" width="18" />
        </a>
    </li>

</ul>