<legend>Coordenadas Geográficas</legend>
{% if entity %}
    {% if not entity.enabled %}
    <div class="alert alert-warning">
        Coordenadas Desactivadas. Edite para Activarlas.
    </div>
    {% endif %}
    <p>Latitud: {{ entity.lat}}</p>
    <p>Longitud: {{ entity.lng }}</p>
    
    
    <img src="http://maps.google.com/maps/api/staticmap?center={{ entity.lat}},{{ entity.lng}}&zoom=15&size=400x200&sensor=false&markers=size:mid|color:red|label:E|{{ entity.lat}},{{ entity.lng}}" alt="" />
    <div class="scactions">
        <a href="{{ path('scgeoext_edit', { 'id': entity.id }) }}?iframe=true&width=800&height=400" rel="prettyPhoto" class="btn btn-small btn-primary" title="Editar coordenadas" target="_blank">Editar</a>
    </div>
{% else %}
    <div class="alert alert-info">
        Aún no se han cargado coordenadas.
    </div>
{% endif %}