<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
<title>{% block title %}Simple Classifield{% endblock %} - {{ nombre_empresa }}</title>
<link>{{ url('homepage') }}</link>
<language>es</language>
<category><![CDATA[Productos]]></category> {#TODO: MAKE IT VARIABLE BY CAT#}
<lastBuildDate>{{ "now"|date("r") }}</lastBuildDate> {#TODO MAKE THIS REAL#}
<pubDate>{{ "now"|date("r") }}</pubDate> {#TODO MAKE THIS REAL#}
<webMaster>info@dominio.com (Info Dominio)</webMaster> {#TODO ADD SOMETHING HERE#}
<copyright>Copyright HotDesign</copyright>
<ttl>10</ttl>
<image>
<title>{% block title2 %}Simple Classifield{% endblock %}</title>
<url>http://ellitoral.com/image/ellitoral_com.gif</url>
<link>http://ellitoral.com/index.php</link>
</image>

{% for entity in entities %}
    <item>
        <title><![CDATA[{{ entity.title }}]]></title>
        <pubDate>{{ entity.created_at | date("r") }}</pubDate>
        <link> {{ entity.url }} </link>
        <guid isPermaLink="true">{{ entity.url }}</guid>
        <category>{{entity.category}}</category>
        <description><![CDATA[<p>{{entity.description}}</p>]]></description>
    </item>
{% endfor %}
</channel>
</rss>
